.tree [type= text]{
   
    height: 50px;
    width: 40px;
    text-align: center;
    font-size: 2em;
    background-color: rgb(255, 255, 255);
    margin-right: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 2px;
   
    box-shadow: 8.0px 16.0px 16.0px rgba(9, 114, 155, 0.25);

   
}

.game{
    background : #042631;
}
.name {
    color : #ffffff;
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;

    

}


.g{ /*button*/
    background-color: #4CAF50; /* Green */
    border: none;
    color: rgb(26, 7, 7);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
